<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand navbar-brand-on-mobile" href="#">
        <img src="./assets/icons/logo-72.png" width="72" height="72" class="d-inline-block align-top" alt="">
      <div class="moh-header-holder">
        <div class="moh-top-words">
            MINISTRY OF HEALTH, COMMUNITY DEVELOPMENT, GENDER, ELDERLY AND CHILDREN
        </div>
        <div class="moh-top-words-mobile">
            MINISTRY OF HEALTH, COMMUNITY <br>
            DEVELOPMENT, GENDER, <br>
            ELDERLY AND CHILDREN
        </div>
        <div class="moh-top-hrhis-words">
            Human Resource for Health Information System
        </div>
        
    </div>
    </a>
    
  </nav>