<div class="animated zoomIn login-holder">
  <div class="container-fluid">
    <div class="row mt-4">
      <div class="col-sm-6">
        <div class="d-flex justify-content-center w-100">
            <img src="./assets/icons/logo-72.png" width="72" height="72" class="d-inline-block align-top" alt="">
            
        </div>

        <div class="moh-header-holder">
            <div class="moh-top-words">
                MINISTRY OF HEALTH, COMMUNITY DEVELOPMENT, GENDER, ELDERLY AND CHILDREN
            </div>
            <!-- <div class="moh-top-words-mobile">
                MINISTRY OF HEALTH, COMMUNITY <br>
                DEVELOPMENT, GENDER, <br>
                ELDERLY AND CHILDREN
            </div> -->
            <div class="moh-top-hrhis-words">
                Human Resource for Health Information System
            </div>
            
        </div>
          


      </div>
      <!-- login form column -->
      <div class="col-sm-4">
          <form class="login-form-width mx-auto">
              <span class="login-form-title font-weight-bold pb-2">
                <img src="./assets/icons/logo-36.png" class="logo-placeholder mb-2">
                HRHIS Login
              </span>
      
              <div class="mb-2" data-validate = "Username is required">
                <input class="form-control w-100" type="text" name="username" placeholder="Username" [(ngModel)]="username" (keyup)="onEditing($event)">
              </div>
              
              <div class="mb-2" data-validate = "Password is required">
                <input class="form-control w-100" type="password" name="pass" placeholder="Password" [(ngModel)]="password" (keyup)="onEditing($event)">
              </div>

              <div class="alert alert-danger w-100 mb-2" *ngIf="failedLogin">
                Username or Password is incorrect
              </div>
              
              <div class="pt-2 pb-2 w-100">
                <div class="contact100-form-checkbox">
                  <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me" [(ngModel)]="rememberMe">
                  <label class="label-checkbox100" for="ckb1">
                    Remember me
                  </label>
                </div>
      
                <div class="d-flex">
                  <a href="#" class="d-flex">
                    Forgot password?
                  </a>
                </div>
              </div>
      
              <div class="w-100 mt-2">
                <button class="btn alert alert-success w-100 text-uppercase" (click)="loginAction($event)">
                  Login
                </button>
              </div>
      
            </form>
      </div>
      <!-- End of login form column -->
      
    </div>
  </div>
</div>